* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 94%);
}

/* An easy step to create a container and center it */
.age_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.age_box {
    width: 390px;
    height: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    position: relative;
}

.first {
    margin-top: 33px;
}



input {
    width: 6.25rem;
    height: 2.5rem;
    margin: 5px;
    margin-top: 1rem;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 10px;
    border: 0.0001px solid hsl(0, 0%, 86%);
}

#dd {
    margin-left: 15px;
}

.agecalc {
    margin-top: 65px;
    margin-left: 10px;
    font-size: 64px;
    font-weight: 800;
}

.dash1,
.dash2,
.dash3 {
    color: hsl(259, 100%, 65%);
}

svg {
    background-color: hsl(259, 100%, 65%);
    border-radius: 15px;
    position: relative;
    top: 49px;
    right: 0px;
}

.d-txt,
.m-txt,
.y-txt {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.d-txt {
    position: absolute;
    top: 10px;
    left: 19px;
}

.m-txt {
    position: absolute;
    top: 10px;
    left: 133px;
}

.y-txt {
    position: absolute;
    top: 10px;
    left: 244px;
}

.valid,
.valid1,
.valid2 {
    font-size: 0.625rem;
    color: red;
}

.valid {
    position: absolute;
    top: 66px;
    left: 18px;
}

.valid1 {
    position: absolute;
    top: 66px;
    left: 132px
}

.valid2 {
    position: absolute;
    top: 66px;
    left: 245px
}

.input_box {
    margin: 10px;
}

.input::selection {
    outline: hsl(259, 100%, 65%);
}

@media screen and (min-width: 350px) {
    input {
        width: 5.625rem;
    }

    svg {
        margin: 0 20px 0 150px;
    }
}


/* Style for each input and span pair */
/* .input-container {
    display: flex;
    flex-direction: column;
} */

/* hsl(0, 0%, 94%) - Light grey: hsl(0, 0%, 86%) - Smokey grey: hsl(0, 0%, 86%) - Off black: hsl(0, 0%, 8%) */